@import '/src/styles/variables.scss';



.home {
    height: 100rem;
    background-color: $homepage-color;
    
    &__top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        height: 35%;

        &__display {
            overflow: hidden;
            width: 850px;
            position: relative;
            margin: 10px;
            &__directionalButton {
                border-radius: 10%;
                top: 30%;
                border: white 1px solid;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                z-index: 100;                   
                &:hover {
                    color: darkgoldenrod;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            &__disabledButton {
                // cursor: not-allowed;
                pointer-events: none;
            }
            &__backButton {
                position: absolute;
                left: 0%;
            }
            &__forwardButton {
                position: absolute;
                right: 0%;
            }
            &__mainDisplay {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
            &__leftDisplay {
                position: absolute;
                height: 100%;
                width: 100%;
                right: 850px;
                top: 0;

            }
            &__rightDisplay {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 850px;
                top: 0;                
            }
            &__slideLeft {
                animation: slideLeft #{$sliding-speed}s forwards;
                -webkit-animation: slideLeft #{$sliding-speed}s forwards;
            }
            @keyframes slideLeft {
                100% { transform: translateX(-100%); }
            }
            @-webkit-keyframes slideLeft {
                100% { -webkit-transform: translateX(-100%); }
            }
            &__slideRight {
                animation: slideRight #{$sliding-speed}s forwards;
                -webkit-animation: slideRight #{$sliding-speed}s forwards;
            }
            @keyframes slideRight {
                100% { transform: translateX(100%); }
            }
            @-webkit-keyframes slideRight {
                100% { -webkit-transform: translateX(100%); }
            }
            
        }
        
        &__sidebar {
            // display: flex;
            // flex-direction: column;
            border: 1px solid black;
            padding: 0px;
            margin: 10px;
        }
    }
}