@import '/src/styles/variables.scss';



.home {
    height: 100rem;
    background-color: $light-color;
    
    &__top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        height: 35%;
        margin: 10px;

        &__display {
            overflow: hidden;
            width: 850px;
            position: relative;
            margin: 10px;
            &__mainDisplay {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
            &__leftDisplay {
                position: absolute;
                height: 100%;
                width: 100%;
                right: 850px;
                top: 0;

            }
            &__rightDisplay {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 850px;
                top: 0;                
            }
            &__slideLeft {
                animation: slideLeft 0.5s forwards;
                -webkit-animation: slideLeft 0.5s forwards;
            }
            @keyframes slideLeft {
                100% { transform: translateX(-100%); }
            }
            @-webkit-keyframes slideLeft {
                100% { -webkit-transform: translateX(-100%); }
            }
            &__slideRight {
                animation: slideRight 0.5s forwards;
                -webkit-animation: slideRight 0.5s forwards;
            }
            @keyframes slideRight {
                100% { transform: translateX(100%); }
            }
            @-webkit-keyframes slideRight {
                100% { -webkit-transform: translateX(100%); }
            }
            
        }
        
        &__sidebar {
            // display: flex;
            // flex-direction: column;
            border: 1px solid black;
            padding: 0px;
            margin: 10px;
        }
    }
}