@import '/src/styles/variables.scss';



.home {
    height: 100rem;
    background-color: $light-color;
    
    &__top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        height: 35%;
        margin: 10px;

        &__display {
            overflow: hidden;
            width: 850px;
            position: relative;
            margin: 10px;

            &__posterImg {
                position: absolute;
                width: 100%;
                // height: auto;

                // overflow: hidden;
            }
            &__smallImgContainer {

                &__smallImg {
                    position: absolute;
                    max-width: 165px;
                    height: auto;
                    // z-index: 100;
                    bottom: 0;
                    left: 15px;
                }
            }
            &__directionalButton {
                border-radius: 10%;
                top: 30%;
                border: white 1px solid;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;                            
                &:hover {
                    color: darkgoldenrod;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            &__backButton {
                position: absolute;
                left: 0%;
            }
            &__forwardButton {
                position: absolute;
                right: 0%;
            }
        }
        &__sidebar {
            // display: flex;
            // flex-direction: column;
            border: 1px solid black;
            padding: 0px;
            margin: 10px;
        }
    }
}