@import '/src/styles/variables.scss';

.sidebarItem {
    padding: 0;

    &__card {
        // padding: 0;
        display: flex;
        flex-direction: column;


        &__img {
            width: 20%;
            // &:hover {
                // }
        }

        &__mainText {
            font-size: 1.4em
        }
        &__secondaryText {
            
        }
    }
}
