@import "./../styles/variables.scss";

.header {
    background: $dark;
    width: 100%;
    height: $headerHeight;
    padding: 0 1.5rem;

    &__content {
        overflow: hidden;
        color: $light;
        margin: 0 auto;
        height: 100%;
        max-width: 1920px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;

        &__home {
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            color: $light;
            padding-left: 2rem;
        }

        &__nav {
            top: 0;
            right: 100%;
            bottom: 0;
            width: 100%;
            height: 100%;
            // position: fixed;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            &__search {
                
                input {
                    width: 400px;
                }
                button {

                }
            }
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                li {
                    a {
                        text-decoration: none;
                        color: inherit;
                        padding: 0.75rem 1.25rem;
                        border-radius: $borderRadius;
                        transition: 0.2s ease all;
                        
                        &:hover {
                            background: rgba($light, 0.1);
                        }
                    }
                }
            }
        }
    }
}