
.paper {
    border: 5px solid black;
    background: black;
    color: white;
    text-decoration: none;
    padding: 0;

}

.searchbar {
    border: 2px solid rgb(192, 203, 212);
    // height: 30px;
    width: 300px;
    background-color: white;
    border-radius: 0.5rem;

    &__link {
        color: green;
        text-decoration: none;
        background-color: aquamarine;
        width: 100%;
        height: 100%;
    }

    &__options {
        border: 5px solid black;
        background-color: black;
        color: white;
    }
}
