@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// colors
$dark-color: rgb(30, 30, 30);
$light-color: rgb(255,255,255);
$primary-color: rgb(162, 162, 246);
$bg-color: rgb(244, 244, 255);
$sidebar-color: $dark-color;
$homepage-color: rgb(10, 10, 10);
$hover-color: yellow;

// home page display sliding speed in seconds
$sliding-speed: 0.4;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 80px;

// Navbar transformation point
@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 1040px) {
            @content;
        }
    }
}


:export {
    Poppins: $Poppins;
    dark-color: $dark-color;
    light-color: $light-color;
    primary-color: $primary-color;
    bg-color: $bg-color;
    sidebar-color: $sidebar-color;
    homepage-color: $homepage-color;
    hover-color: $hover-color;
    sliding-speed: $sliding-speed;
    spacing-md: $spacing-md;
    spacing-lg: $spacing-lg;
    borderRadius: $borderRadius;
    headerHeight: $headerHeight;
}
