
@import 'src/styles/variables.scss';

.mylist {
    height: 100vw;
    position: relative;

    &__background {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        height: 10em;
        background: $primary-color;
        z-index: -100;
    }
    &__main {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid $primary-color;
    }
    
    &__title {
        margin: 20px;
        color: white;
    }
    &__listBlock {
        width: 100%;
        padding: 15px;
    
        &__listInfo {
            border: 1px solid $primary-color;
        }
    }
    &__listHeaders {
        display: flex;
        flex-direction: row;
        flex-wrap: none;
        justify-content: space-evenly;
        width: 100%;
        border: 2px solid black;
        background: $primary-color;
        
        &__header {
            list-style: none;
        }
    }
    &__list {
        width: 100%;
        list-style: none;
    }
    &__item { 
        width: 100%;
        list-style: none;
    }
}